@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

/* Base (light) theme */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --primary-color: #ffffff;
    --btn-primary: #16a34a;
}

/* Dark theme */
:root.dark {
    --bg-color: #0F0F0F;
    --text-color: #ffffff;
    --primary-color: #111519;
    --btn-primary: #16a34a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.active {
    color: #16a34a;
    border-bottom: 2px solid #16a34a;
}